!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Labentis
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_pack_tag 'application'
  %body
    %header
      .header-content
        =link_to '/' do
          %h1.header-content__logo
            labentis
        %ul.header-content__list
          -if user_signed_in?
            %li.new-project
              =link_to  new_project_path do
                %i.fas.fa-music
            %li.sign-up
              =link_to user_path(current_user) do
                %i.fas.fa-user
            %li.sign-in
              =link_to '/users/sign_out', method: 'delete' do
                %i.fas.fa-sign-out-alt
          -else
            %li.sign-up
              =link_to '/users/sign_up', class:"post" do
                %i.fas.fa-user-plus
            %li.sign-in
              =link_to '/users/sign_in' do
                %i.fas.fa-sign-in-alt
    %main
      = yield
