!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Labentis
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %header
      .header-content
        =link_to '/' do
          %h1.header-content__logo
            labentis
        %ul.header-content__list
          -if user_signed_in?
            %li.sign-up
              =link_to 'user_path(current_user.id)' do
                My page
            %li.sign-in
              =link_to '/users/sign_out', method: 'delete' do
                Sign out
          -else
            %li.sign-up
              =link_to '/users/sign_up', class:"post" do
                Sign up
            %li.sign-in
              =link_to '/users/sign_in' do
                Sign in
    %main
      = yield
