!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Labentis
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %header
      .header-content
        =link_to '/' do
          %h1.header-content__logo
            labentis
        %ul.header-content__list
          %li.sign-up
            Sign up
          %li.sign-in
            Sign in
    %main
      = yield
